<html>
	<head>
		<title>EchoToy</title>
	</head>
	<body>
		<h1>EchoToy</h1>
		<p>Upload a song. I'll tell you about things that are simmilar.</p>
		<div id='result-container'></div>
		<div id='form-container'><%= erb :_form %></div>
	</body>
</html>